<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
      <div class="sidebar">
        <h1 style="color: #7DC0F8">Senti-</h1><h1 style="color: #FF5481">Index</h1>
        <p>Search for a city and find out how happy it is at the moment. Our happiness scores are computed by analyzing recent tweets and videos from a given location, in real time.</p>
        <fieldset>
          <div class="d-table-cell w-100">
            <input type="text" class="form-control" id="locationText" placeholder="Enter a country, state, or city">
          </div>
          <div class="d-table-cell align-middle">
          <span class="input-group-btn">
            <button id="submit" type="submit" class="btn btn-primary">Go</button>
          </span>
        </fieldset>
        <div class="space"></div>
        <h3>Stats for: </h3><h3 id="location">College Station</h3>
        <h5>Expected happiness score: </h5>
        This measurement represents how the people in this area should feel based on local conditions, which are polled from various news sources and development information.
        <h5>Perceived happiness score: </h5>
        This measurement represents how the people in this area are perceived to be feeling by analyzing facial expressions of commoners.
        <h5>Actual happiness score: </h5>
        This measurement represents how the people in this area are actually feeling themselves according to the sentiment of their social media posts.
      </div>

      <!-- <div id="map"></div>
    <script>

      var map;
            var service;
            var infowindow;

            function initMap() {
              var sydney = new google.maps.LatLng(-33.867, 151.195);

              infowindow = new google.maps.InfoWindow();

              map = new google.maps.Map(
                  document.getElementById('map'), {center: sydney, zoom: 15});

              var request = {
                query: 'Museum of Contemporary Art Australia',
                fields: ['name', 'geometry'],
              };

              service = new google.maps.places.PlacesService(map);

              service.findPlaceFromQuery(request, function(results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                  for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                  }

                  map.setCenter(results[0].geometry.location);
                }
              });
            }

            function createMarker(place) {
              var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
              });

              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
              });
            }

      // // Add circle overlay and bind to marker
      // var circle = new google.maps.Circle({
      //   map: map,
      //   radius: 10000,    // 10 miles in metres
      //   fillColor: '#AA0000'
      // });
      // circle.bindTo('center', marker, 'position');

      // function handleSearch() {
      //   let searchQuery = document.getElementById("search-text").value;
      //   let mapsUrl = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=" + searchQuery + "&inputtype=textquery&fields=name,geometry&key=AIzaSyD5AaHhIm1ygRegl4VjfGwD0GJ7h1Bv_vA";
      //   get(mapsUrl).then(function(response) {
      //     console.log("Success!", response);
      //   }, function(error) {
      //     console.error("Failed!", error);
      //   })
      // }

      function get(url) {
        // Return a new promise.
        return new Promise(function(resolve, reject) {
          // Do the usual XHR stuff
          var req = new XMLHttpRequest();
          req.open('GET', url);

          req.onload = function() {
            // This is called even on 404 etc
            // so check the status
            if (req.status == 200) {
              // Resolve the promise with the response text
              resolve(req.response);
            }
            else {
              // Otherwise reject with the status text
              // which will hopefully be a meaningful error
              reject(Error(req.statusText));
            }
          };

          // Handle network errors
          req.onerror = function() {
            reject(Error("Network Error"));
          };

          // Make the request
          req.send();
        });
      }

    </script> -->
    <div id="map"></div>
    <script src="../../static/us-states.js".>
    </script>
    <script src="../../static/texas.js".></script>
    <script>
    var mapboxAccessToken = "pk.eyJ1IjoiYWRhZGEwMDMiLCJhIjoiY2s1dWtxY2lrMGR4bTNnbXJyazRxY2hoZiJ9.VVRNFppVgblGtBxV1KHLfA";
    var map = L.map('map').setView([37.8, -96], 4);

    	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWRhZGEwMDMiLCJhIjoiY2s1dWtxY2lrMGR4bTNnbXJyazRxY2hoZiJ9.VVRNFppVgblGtBxV1KHLfA', {
    		maxZoom: 18,
    		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    		id: 'mapbox/light-v9'
    	}).addTo(map);


    	// control that shows state info on hover
    	var info = L.control();

    	info.onAdd = function (map) {
    		this._div = L.DomUtil.create('div', 'info');
    		this.update();
    		return this._div;
    	};

    	info.update = function (props) {
    		this._div.innerHTML =  '<div style="font-size: 15pt; background-color: white; padding: 20px;">' + (props ?
    			'<b>' + props.COUNTY + '</b><br />Happiness Index: ' + props.OPINION
    			: 'Hover over a state') + '</div>';
    	};

    	info.addTo(map);


    	// get color depending on population density value
    	function getColor(d) {
    		return d > 60 ? '#00a210' :
    				d > 20  ? '#61bd00' :
    				d > 10  ? '#ffb800' :
    				d > 5  ? '#da6f05' :
    				d > -5   ? '#e67c00' :
    				d > -10   ? '#e74200' :
    				d > -20   ? '#d52000' :
    							'#a30000';
    	}

    	function style(feature) {
    		return {
    			weight: 1,
    			opacity: 1,
    			color: 'white',
    			dashArray: '3',
    			fillOpacity: 0.7,
    			fillColor: getColor(feature.properties.OPINION)
    		};
    	}

    	function highlightFeature(e) {
    		var layer = e.target;

    		layer.setStyle({
    			weight: 5,
    			color: '#004580',
    			dashArray: '',
    			fillOpacity: 0.7
    		});

    		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
    			layer.bringToFront();
    		}

    		info.update(layer.feature.properties);
    	}

    	var geojson;

    	function resetHighlight(e) {
    		geojson.resetStyle(e.target);
    		info.update();
    	}

    	function zoomToFeature(e) {
    		map.fitBounds(e.target.getBounds());
    	}

    	function onEachFeature(feature, layer) {
    		layer.on({
    			mouseover: highlightFeature,
    			mouseout: resetHighlight,
    			click: zoomToFeature
    		});
    	}

    	geojson = L.geoJson(statesData, {
    		style: style,
    		onEachFeature: onEachFeature
    	}).addTo(map);

      geojson2 = L.geoJson(countyData, {
        style: style,
        onEachFeature: onEachFeature
      }).addTo(map);

    	map.attributionControl.addAttribution('Data from Twitter and News API');

      $("fieldset").keypress(function(e) {
        if (e.which == 13) {
          $("#submit").click();
        }
      });

      $("#submit").on("click", function(event) {
        $("#location").text($("#locationText").val());
      });

    </script>

  </div>
    </body>
</html>
