/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100vh;
    width: 70vw;
    position: absolute;
    right: 0;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.space {
  margin-bottom: 15px;
}

h1, h3 {
  display: inline;
}

h3, h5 {
  margin-top: 5%;
}

.sidebar {
  padding: 2%;
  width: 30vw;
  position: absolute;
  left: 0;
  height: 100vh;
  box-shadow: 5px 5px 5px lightgray;
}

  .pure-material-button-outlined::-moz-focus-inner {
      border: none;
  }

  /* Overlay */
  .pure-material-button-outlined::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: currentColor;
      opacity: 0;
      transition: opacity 0.2s;
  }

  /* Ripple */
  .pure-material-button-outlined::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      padding: 50%;
      width: 32px;
      height: 32px;
      background-color: currentColor;
      opacity: 0;
      transform: translate(-50%, -50%) scale(1) ;
      transition: opacity 1s, transform 0.5s;
  }

  /* Hover, Focus */
  .pure-material-button-outlined:hover::before {
      opacity: 0.04;
  }

  .pure-material-button-outlined:focus::before {
      opacity: 0.12;
  }

  .pure-material-button-outlined:hover:focus::before {
      opacity: 0.16;
  }

  /* Active */
  .pure-material-button-outlined:active::after {
      opacity: 0.16;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0s;
  }

  /* Disabled */
  .pure-material-button-outlined:disabled {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: transparent;
      cursor: initial;
  }

  .pure-material-button-outlined:disabled::before {
      opacity: 0;
  }

  .pure-material-button-outlined:disabled::after {
      opacity: 0;
  }
